{% extends 'layout.html' %}

{% block content %}
<div class="container">
    <h1 class="my-4">Disponibilidad del Producto</h1>
    <p>En esta sección, puedes consultar la disponibilidad de polen a lo largo del año y ajustar tus estrategias de
        venta según la demanda. Los gráficos que se presentan a continuación te proporcionarán una visión detallada de
        la demanda de polen, el precio promedio por mes, y las mejores semanas para la recolección y comercialización
        del producto.</p>
    <p>Utiliza esta información para optimizar la planificación de tus actividades apícolas, maximizando tus ingresos y
        asegurando la sostenibilidad de tus operaciones. Las tendencias mostradas te ayudarán a tomar decisiones
        informadas sobre cuándo es más rentable recolectar y vender polen, basándote en los datos históricos y la
        estacionalidad.</p>

        <h3 class="my-4">Demanda de Polen</h3>
        <img src="./static/img/disponibilidad_demanda_polen_2024.png" alt="Demanda de Polen en 2024" style="width: 800px; height: 500px;display: block; margin-left: auto; margin-right: auto;">
        <p style="padding: 10px 50px 20px;">Esta gráfica muestra la demanda de polen a lo largo del año 2024. Se observa la fluctuación en la demanda, permitiendo a los apicultores identificar los periodos de mayor y menor demanda. Estos datos son esenciales para ajustar la producción y las estrategias de venta.</p>
        <h3 class="my-4">Precio Promedio por Mes</h3>
        <img src="./static/img/precio_promedio_por_mes_estacional.png" alt="Precio Promedio por Mes Estacional" style="width: 800px; height: 500px;display: block; margin-left: auto; margin-right: auto;">
        <p style="padding: 10px 50px 20px;">Este gráfico muestra el precio promedio del polen por mes, considerando la estacionalidad. Los apicultores pueden utilizar esta información para determinar los periodos en los que es más rentable vender el producto, maximizando sus ingresos y optimizando su producción.</p>
        <h3 class="my-4">Mejores Semanas para Recolección</h3>
        <img src="./static/img/mejores_semanas.png" alt="Mejores Semanas para Recolección" style="width: 800px; height: 500px;display: block; margin-left: auto; margin-right: auto;">
        <p style="padding: 10px 50px 20px;">En esta gráfica se muestran las mejores semanas para la recolección y comercialización de polen. Los apicultores pueden identificar los periodos de mayor demanda y precio, lo que les permite planificar sus actividades de forma estratégica y rentable.</p>
        <br>
        <br>
</div>
{% endblock %}