{% extends 'layout.html' %}

{% block content %}
<div class="container">
    <h1 class="my-4">Disponibilidad del Producto</h1>
    <p>Aquí puedes consultar la disponibilidad de polen y ajustar tus estrategias de venta según la demanda.</p>
    <img src="./static/img/disponibilidad_demanda_polen_2024.png" alt="Demanda" class="fluid">
    <img src="./static/img/precio_promedio_por_mes_estacional.png" alt="Demanda" class="fluid">
    <img src="./static/img/mejores_semanas.png" alt="Demanda" class="fluid">
</div>
{% endblock %}
