{% extends 'layout.html' %}

{% block content %}
<div class="container mt-4">
    <h2>Bienvenido al sistema de recomendación de reactivación de colmenas</h2>
    <form action="/submit_form" method="post">
        <div class="form-group">
            <label for="fecha">Fecha</label>
            <input type="date" class="form-control" id="fecha" name="fecha" required>
        </div>
        <div class="form-group">
            <label for="numcol">Número de Colmenas</label>
            <input type="number" class="form-control" id="numcol" name="numcol" required>
        </div>
        <div class="form-group">
            <label for="ubicacion">Ubicación colmenas(pais o region)</label>
            <input type="text" class="form-control" id="ubicacion" name="ubicacion" required>
        </div>
        <!-- Estacionalidad -->
        <div class="form-group">
            <label for="estacion">Estacionalidad</label>
            <select class="form-control" id="estacion" name="estacion" required>
                <option value="Primavera">Primavera</option>
                <option value="Verano">Verano</option>
                <option value="Otoño">Otoño</option>
                <option value="Invierno">Invierno</option>
            </select>
        </div>
        <!-- Salud de las Colmenas -->
        <div class="form-group">
            <label for="estsalud">Estado de salud colmena</label>
            <select class="form-control" id="estsalud" name="estsalud" required>
                <option value="Excelente">Excelente</option>
                <option value="Buena">Buena</option>
                <option value="Regular">Regular</option>
                <option value="Pobre">Pobre</option>
            </select>
        </div>
        <!-- Demanda de Polen -->
        <div class="form-group">
            <label for="polen">Demanda de polen</label>
            <select class="form-control" id="polen" name="polen" required>
                <option value="Alta">Alta</option>
                <option value="Media">Media</option>
                <option value="Baja">Baja</option>
            </select>
        </div>
        <div class="form-group">
            <label for="temperatura">Temperatura(°C)</label>
            <input type="number" class="form-control" id="temperatura" name="temperatura" step="0.1" required>
        </div>
        <div class="form-group">
            <label for="humedad">Humedad(%)</label>
            <input type="number" class="form-control" id="humedad" name="humedad" step="0.1" required>
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>

<div class="container mt-4">
    <h2>Datos de Apicultores</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Fecha</th>
                <th>Número de Colmenas</th>
                <th>Ubicación de Colmenas</th>
                <th>Estacionalidad</th>
                <th>Salud de las Colmenas</th>
                <th>Demanda de Polen</th>
                <th>Temperatura</th>
                <th>Humedad</th>
            </tr>
        </thead>
        <tbody>
            {% for fila in datos %}
            <tr>
                <td>{{ fila[0] }}</td>
                <td>{{ fila[1] }}</td>
                <td>{{ fila[2] }}</td>
                <td>{{ fila[3] }}</td>
                <td>{{ fila[4] }}</td>
                <td>{{ fila[5] }}</td>
                <td>{{ fila[6] }}</td>
                <td>{{ fila[7] }}</td>
                <td>{{ fila[8] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}