{% extends 'layout.html' %}

{% block content %}
<div class="container">
    <h1 class="my-4">Recomendaciones</h1>
    <p>Inspección Visual: Abre la colmena y observa el comportamiento de las abejas. Busca signos de enfermedad, plagas, o abejas muertas. Verifica la presencia de la reina.</p>
   <p></p> Revisar las Reservas de Miel: Asegúrate de que las abejas tengan suficiente miel almacenada para alimentarse, especialmente durante los periodos de poca floración o el invierno.</p>
</div>

<div class="container mt-5">
    <h2>Recomendación para Reactivación de Colmenas</h2>
    <form action="/recomendaciones" method="POST">
        <div class="form-group">
            <label for="cantidad_colmenas">Cantidad de Colmenas:</label>
            <input type="number" class="form-control" id="cantidad_colmenas" name="cantidad_colmenas" required>
        </div>
        <div class="form-group">
            <label for="ubicacion">Ubicación (país o región):</label>
            <input type="text" class="form-control" id="ubicacion" name="ubicacion" required>
        </div>
        <div class="form-group">
            <label for="estacionalidad">Estacionalidad Actual:</label>
            <select class="form-control" id="estacionalidad" name="estacionalidad" required>
                <option value="Primavera">Primavera</option>
                <option value="Verano">Verano</option>
                <option value="Otoño">Otoño</option>
                <option value="Invierno">Invierno</option>
            </select>
        </div>
        <div class="form-group">
            <label for="salud_colmena">Estado de Salud General de las Colmenas:</label>
            <select class="form-control" id="salud_colmena" name="salud_colmena" required>
                <option value="Buena">Buena</option>
                <option value="Regular">Regular</option>
                <option value="Mala">Mala</option>
            </select>
        </div>
        <div class="form-group">
            <label for="demanda_polen">Demanda Actual de Polen:</label>
            <select class="form-control" id="demanda_polen" name="demanda_polen" required>
                <option value="Alta">Alta</option>
                <option value="Media">Media</option>
                <option value="Baja">Baja</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Recomendar</button>
    </form>

    <!-- Mostrar resultados después de enviar el formulario -->
   {% if evaluacion_salud and recomendacion_reactivacion %}
    <div class="mt-4">
        <h4>Resultado de Evaluación:</h4>
        <p>{{ evaluacion_salud }}</p>
        <h4>Recomendación para Reactivación:</h4>
        <p>{{ recomendacion_reactivacion }}</p>
    </div>
    {% endif %}
</div>
{% endblock %} 
