{% extends 'layout.html' %}

{% block content %}
<div class="container">
    <h1 class="my-4">Tiempos de Recolección</h1>
    <p>En esta sección, puedes identificar los periodos óptimos para la recolección de polen, maximizando la calidad del producto. Los gráficos presentados te ayudarán a planificar tus actividades apícolas de manera estratégica, asegurando que recolectas polen en los momentos más favorables.</p>
    <p>Utilizando datos históricos y predicciones estacionales, estos gráficos te proporcionan una visión clara sobre cuándo es más productivo recolectar polen, teniendo en cuenta factores como la estacionalidad y la producción anual. Esto te permitirá optimizar tanto la cantidad como la calidad del polen recolectado.</p>

    <h3 class="my-4">Previsión Estacional de Producción 2024</h3>
    <img src="./static/img/prevision_estacional_produccion_2024.png" alt="Previsión 2024" style="width: 800px; height: 500px; display: block; margin-left: auto; margin-right: auto;">
    <p style="padding: 10px 50px 20px;">Este gráfico muestra la previsión de la producción de polen para el año 2024, categorizada según la estación del año. Los apicultores pueden utilizar esta información para planificar la recolección en los periodos de mayor producción, optimizando los recursos y asegurando una cosecha de alta calidad.</p>
    <h3 class="my-4">Producción Anual de Polen</h3>
    <img src="./static/img/produccion_anual.png" alt="Producción Anual de Polen" style="width: 800px; height: 500px; display: block; margin-left: auto; margin-right: auto;">
    <p style="padding: 10px 50px 20px;">En este gráfico se presenta la producción anual de polen en libras, permitiendo a los apicultores visualizar las tendencias de producción a lo largo del año. Esto es crucial para identificar los meses en los que la producción es más alta, lo que permite planificar de manera eficiente la recolección y venta del producto.</p>
    <h3 class="my-4">Producción de Polen por Estado y Año</h3>
    <img src="./static/img/produccion_por_estado_ano.png" alt="Producción por Estado y Año" style="width: 800px; height: 500px; display: block; margin-left: auto; margin-right: auto;">
    <p style="padding: 10px 50px 20px;">Este gráfico muestra la producción de polen desglosada por estado y año, proporcionando una visión detallada de cómo varía la producción en diferentes regiones a lo largo del tiempo. Esta información es valiosa para los apicultores que operan en múltiples estados, ya que les permite ajustar sus estrategias de producción y distribución de acuerdo con las tendencias regionales.</p>
</div>
{% endblock %}
