{% extends 'layout.html' %}

{% block content %}
<div class="container">
    <h1 class="my-4">Tiempos de Recolección</h1>
    <p>Aquí puedes identifica los periodos óptimos para la recolección de polen, maximizando la calidad del producto.</p>
    <img src="./static/img/prevision_estacional_produccion_2024.png" alt="Previsión 2024" class="fluid">
    <img src="./static/img/produccion_anual.png" alt="Producción Anual de Polen" class="img-fluid">
    <img src="./static/img/produccion_por_estado_ano.png" alt="Producción Anual de Polen" class="img-fluid">
</div>
{% endblock %}